html, body {
  margin: 0;
  padding: 0;
  zoom: reset;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-weight: 300;
  font-size:80px;
  line-height: 30px;
}
canvas {
  position: fixed; 
  display: block;
  overflow-x: hidden; 
  overflow-y: auto;
  
}

.overlay{
  display:none;
  z-index:10;
  position: absolute;
  width:70%;
  max-width:800px;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
 0t: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center2 {
  margin: 0;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0%);

}



.name {
  font-size:20px;
}
.soon {
  font-size:16px;
}